.jumbotron {
  background-image: url('../../assets/images/train6-sm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}

body {
  background: rgba(12, 19, 29, 0.1) ;
}